@model PhoneDetailsServiceModel
@inject IPhoneService phoneService

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        .phone-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .phone-card {
            width: 300px;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .phone-image {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .phone-details {
            text-align: left;
        }

            .phone-details p {
                margin: 5px 0;
            }

        .btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
</head>

<body>
    <h2 style="text-align: center;">My Phone Details</h2>
    <div class="phone-container">
        <div class="phone-card">
            <img src="@Model.ImageUrl" class="phone-image" />
            <div class="phone-details">
                <p><strong>Brand:</strong> @Model.Brand</p>
                <p><strong>Model:</strong> @Model.Model</p>
                <p><strong>Price:</strong> @Model.Price</p>
                <p><strong>Owner Phone Number:</strong> @Model.OwnerPhoneNumber</p>
                <p><strong>Category:</strong> @Model.Category</p>
                <p><strong>Storage:</strong> @Model.Performances.Storage</p>
                <p><strong>Processor:</strong> @Model.Performances.Processor</p>
                <p><strong>Battery:</strong> @Model.Performances.Battery</p>
                <p><strong>Camera:</strong> @Model.Performances.CameraPxl</p>
                <p><strong>RAM:</strong> @Model.Performances.Ram</p>
            </div>
            @if(await phoneService.HasOwnerWithId(Model.Id,User.Id()) == true)
            {
                <a href="@Url.Action("Edit", "Phone", new { id = Model.Id })" class="btn">Edit</a>
                <a href="@Url.Action("Delete", "Phone", new { id = Model.Id })" class="btn">Delete</a>
            }
            <a href="@Url.Action("Add", "Comment", new { id = Model.Id })" class="btn">Write Comment</a>
        </div>
    </div>
</body>
</html>
